<h3 id='header' mat-dialog-title>Receipt</h3>

<div style="margin-left: auto; margin-right: auto; width: 80%;overflow: hidden;">
    <h2 class="sale-details">Sale No .:.:00102</h2>
    <h3 class="sale-date">Date: 01-18-2018 12:03:13</h3>
    <div class="order-details-header" mat-dialog-content style="border-bottom: 1px solid lightgray;">
        <div>#</div>
        <div>products</div>
        <div>Quantity</div>
        <div>SubTotal</div>
    </div>

    <div style="height: 100px;overflow-y: scroll; overflow-x: hidden;">
        <div class="order-details-header" mat-dialog-content style="border-bottom: 1px solid lightgray;"
            *ngFor="let order of orders;let i = index;">
            <div>{{i + 1}}</div>
            <div>{{order.name}}</div>
            <div>{{order.count}}</div>
            <div>
                <p>{{order.total}}</p>
                <p>INR</p>
            </div>
        </div>

    </div>
    <div class="order-details-total" mat-dialog-content style="border-bottom: 1px solid lightgray;">
        <div>Total Items</div>
        <div>{{subtotalItems}} Total</div>
        <div style="font-weight: 600;">{{subTotalPrice}} INR</div>
    </div>

    <div class="order-details-tax" mat-dialog-content style="border-bottom: 1px solid lightgray;">
        <div></div>
        <div>Discount</div>
        <div style="font-weight: 600;">{{discount}}%</div>
    </div>

    <div class="order-details-tax" mat-dialog-content style="border-bottom: 1px solid lightgray;">
        <div></div>
        <div>VAT</div>
        <div style="font-weight: 600;">{{vat}}%</div>
    </div>

    <div>
        <button class="button" mat-button [mat-dialog-close]=true>Close</button>
    </div>

</div>