<main class="container">
  <div class="box1">
    <nav class="nav">
      <ul class="nav-box">
        <li class="item item1">PRODUCTS</li>
        <li class="item item2">PRICE</li>
        <li class="item item3">QUANTITY</li>
        <li class="item item4">TOTAL</li>
      </ul>
    </nav>
    <main class="main">
      <div *ngIf="cart.length === 0" class="message">THERE ARE NO PRODUCTS</div>
      <div class="main-container" *ngFor="let item of cart">
        <div class="main-container-item-name">
          <button id="button-scale" class="clear-button main1" mat-mini-fab aria-label="clear product"
            (click)="clearProductFromCart(item)">
            <span class="material-icons">
              clear
            </span>
          </button>

          <div style="font-size: 20px; color: rgb(105, 105, 105);">{{item.name}}</div>
        </div>

        <div class="main-container-item-price" style="font-size: 20px; color: rgb(105, 105, 105);">{{item.price}}</div>

        <div class="quantity-box">
          <button id="button-scale" mat-mini-fab aria-label="plus product" (click)="increaseProductCount(item)">
            <span class="material-icons">
              add
            </span>
          </button>


          <input class="input-design" matInput style="width: 30px;" value="{{item.count}}">

          <button id="button-scale" mat-mini-fab aria-label="remove product" (click)="decreaseProductCount(item)">
            <span class="material-icons">
              remove
            </span>
          </button>
        </div>

        <div class="main-container-item-total" style="font-size: 20px; color: rgb(105, 105, 105);">
          {{item.total}}
        </div>
      </div>
    </main>

    <main class="actions">
      <div class="action-box action-box1">
        <div class="action-box-item">Sub Total</div>
        <div class="action-box-item">VAT tax</div>
        <div class="action-box-item">Discount</div>
        <div class="action-box-item">Total</div>
      </div>
      <div class="action-box action-box2">
        <div class="action-box-item">
          <div>{{subTotalPrice}} INR</div>
          <div>{{subTotalItems}} items</div>
        </div>
        <div class="action-box-item">
          <div class="action-box-input">
            <input matInput class="action-input-style" (keyup)="reCalculation()" [formControl]="vat" type="number">
            <strong class="input-percentage">%</strong>
          </div>
          <div>{{vatTotal}} INR</div>
        </div>
        <div class="action-box-item">
          <div class="action-box-input">
            <input matInput class="action-input-style" (keyup)="reCalculation()" [formControl]="discount" type="number">
            <strong class="input-percentage">%</strong>
          </div>
          <div>{{discountTotal}} INR</div>
        </div>
        <div class="action-box-item">{{grandTotal}} INR</div>
      </div>
    </main>

    <div class="action-buttons">
      <button class="button cancel" (click)="cancelSale()">CANCEL SALE</button>
      <button class="button process" (click)="openDialog()">PROCESS SALE</button>
    </div>
  </div>


  <div class="box2">
    <div class="product-container">
      <div class="product-item" *ngFor="let product of products" (click)="clickToAdd(product)">
        <div [ngStyle]="getbackcolor(product.name)">
          <img *ngIf="product.image" src="../assets/images/{{product.image}}" class="product-item-image"
            [ngStyle]="getBackgroundStyles(product.name)">
        </div>
        <p class="product-item-name">{{product.name | uppercase}}</p>
        <p class="product-item-price">{{product.price}} INR</p>
        <p class="product-item-description">{{product.description}}</p>
      </div>
    </div>

  </div>
</main>