.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 10px;
}

.box1, .box2{
    background-color: rgb(241, 241, 241);
}

.nav{
    margin: 20px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: rgb(68, 68, 68);
    font-weight: 500;
    font-size: 25px;
}

.nav > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-around;
}

.nav > .nav-box > li {
    list-style: none;
    display: flex;
    align-items: stretch;
}

.item1{
     display: flex;
    justify-content: flex-end;
}

.item2{
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}

.item3{
     padding-right: 20px;
    display: flex;
    justify-content: flex-end
}
.item4{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.main{
    overflow: auto;
    height: 500px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.message{
    text-align: center;
    background-color: white;
    color: rgb(68, 68, 68);
    font-size: 35px;
    padding: 40px 0px;
}



.main-container{
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
}

.main-container-item-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container-item-price{
    padding-right: 40px;
    text-align: right;
}

.main-container-item-total{
    text-align: right;
    padding-right: 10px;
}

#button-scale {
    background-color: transparent;
    color: rgb(105, 105, 105);
    transform: scale(0.7);
}

.quantity-box{
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.input-design{
    border: 1px solid  rgb(131, 131, 131);
    border-radius: 2px;
    height: 25px;
}

.clear-button{
    background-color: red !important;
    color: white !important;
}

.actions{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.action-input-style {
    border: 1px solid lightgray;
    width:100px; 
    background: whitesmoke;
    height: 20px;
    width: 60px;
    border-radius: 2px;
}

.action-box-input{
    position: relative;
}

.action-box-input > input:focus{
    outline: none;

}

.input-percentage{
    position: absolute;
    left: 35px;
}

.action-box1{
    background-color: rgb(236, 236, 236);
}

.action-box2{
    background-color: white;
}

.action-box-item{
    border-top: 1px solid rgb(199, 199, 199);
    padding: 10px 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-buttons{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.button{
    padding: 20px 40px;
    color: white;
    text-decoration: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.cancel{
    background-color: rgb(247, 72, 72);
}
.process{
    background-color: rgb(98, 196, 98)
}


.product-container{
    display: flex;
    flex-wrap: wrap;
}

.product-item{
    position: relative;
    border-radius: 5px;
    margin: 30px 25px;
    width: 135px;
    height: 150px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}


.product-item-name{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 10px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    width: 95%;
}

.product-item-price{
    position: absolute;
    top: 60px;
    color: white;
    font-weight: 600;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
}
.product-item-description{
    position: absolute;
    top: 85px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width:100%;
    text-align: center;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
}

.product-item-image{
    position: absolute;
    top: 0;
    border-radius: 5px;
    background-size: cover;
    filter: blur(1px) brightness(90%);
}

.product-item:hover  .product-item-description {
    transform: translateY(0);
    opacity: 1;
}
.product-item:hover  .product-item-price {
  transform: translateY(0);
  opacity: 1;
}

/* Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}