<h3 id='header' mat-dialog-title>Receipt</h3>

<div style="margin-left: auto; margin-right: auto; width: 80%;overflow: hidden;">
    <h2 class="sale-details">Sale No .:.:00102</h2>
    <h3 class="sale-date">Date: 01-18-2018 12:03:13</h3>
    <div class="order-details-header" mat-dialog-content style="border-bottom: 1px solid lightgray;">
        <div>#</div>
        <div>products</div>
        <div>Quantity</div>
        <div>SubTotal</div>
    </div>

    <div class="order-details-header" mat-dialog-content style="border-bottom: 1px solid lightgray;">
        <div>1</div>
        <div>sweater</div>
        <div>2</div>
        <div>
            <p>4.000</p>
            <p>INR</p>
        </div>
    </div>

    <div class="order-details-total" mat-dialog-content style="border-bottom: 1px solid lightgray;">
        <div>Total Items</div>
        <div>2 Total</div>
        <div style="font-weight: 600;">4.000 INR</div>
    </div>

    <div class="order-details-tax" mat-dialog-content style="border-bottom: 1px solid lightgray;">
        <div></div>
        <div>Discount</div>
        <div style="font-weight: 600;">10%</div>
    </div>

    <div class="order-details-tax" mat-dialog-content style="border-bottom: 1px solid lightgray;">
        <div></div>
        <div>VAT</div>
        <div style="font-weight: 600;">10%</div>
    </div>

    <div>
        <button class="button" mat-button mat-dialog-close>Close</button>
    </div>

</div>